{% extends '@CrosierLibBase/list.html.twig' %}

{% set campos_pesquisar %}

    <div class="form-group">
        <label for="p_descricao">Usuário</label>
        <input type="text"
               class="form-control" id="filter[username]"
               name="filter[username]"
               value="{{ filter.username|default('') }}">
    </div>

{% endset %}


{% block down_scripts %}
    <script src="{{ asset('build/sec/userList.js') }}"></script>
{% endblock %}
