{% extends '@CrosierLibBase/list.html.twig' %}

{% block campos_pesquisar %}

    <div class="form-group">
        <label for="p_descricao">Descrição</label>
        <input type="text"
               class="form-control" id="filter[descricao]"
               name="filter[descricao]"
               value="{{ filter.descricao|default('') }}">
    </div>
    <div class="form-group">
        <label for="p_descricao">Módulo</label>
        <input type="text"
               class="form-control" id="filter[modulo]"
               name="filter[modulo]"
               value="{{ filter.modulo|default('') }}">
    </div>

{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Config/programList') }}
{% endblock %}
