/*
  Este arquivo deve ficar no static (não ser adicionado pelo webpack) para poder ser chamado pelos apps.
*/

html {
  font-size: 14px;
}



input, select {
  text-transform: uppercase;
}

input[type=submit], input[type=button] {
  text-transform: none;
}

.int,
.integer,
.decimal2,
.decimal3,
.dinheiro,
.money,
.crsr-dec0,
.crsr-dec1,
.crsr-dec2,
.crsr-dec3,
.crsr-dec4,
.crsr-dec5,
.crsr-money {
  text-align: right;
  text-transform: none;
}

.lowercase,
.email {
  text-transform: lowercase;
}

.notuppercase {
  text-transform: none;
}

.c-main {
  padding-top: 0;
}

.main .container-fluid {
  padding: 0;
}

.c-sidebar-brand {
  background-color: white !important;
}




.menuLateral-ent-neto {
  background-color: #212121;
}


.menuLateral-dropdown-pai {
  background-color: #546E7A;
}

.menuLateral-dropdown-filho {
  background-color: #34474F;
}

.c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  background-color: darkslategrey;
}
