/*
  Este arquivo deve ficar no static (não ser adicionado pelo webpack) para poder ser chamado pelos apps.
*/



#preloader {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: rgba(255, 255, 255, 0.5);
}

input, select {
    text-transform: uppercase;
}

.select2-search__field {
    text-transform: none;
    width: 100%;
}

input[type=submit], input[type=button] {
    text-transform: none;
}

.int,
.integer,
.decimal2,
.decimal3,
.dinheiro,
.money,
.crsr-dec0,
.crsr-dec1,
.crsr-dec2,
.crsr-dec3,
.crsr-dec4,
.crsr-dec5,
.crsr-money {
    text-align: right;
    text-transform: none;
}


div.paceDiv {
    position: absolute;
    width: 100%;
    height: 100%;

    display: none;
}

.lowercase,
.email {
    text-transform: lowercase;
}

.notuppercase {
    text-transform: none;
}

.c-main {
    padding-top: 0;
}

.main .container-fluid {
    padding: 0;
}

.c-sidebar .c-sidebar-brand {
    background-color: white;
}

