body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    background-color: #fe9004;
    left: 0px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer-div {
    color: white;
    font-size: small;
    line-height: 40px;
}


input, select {
    text-transform: uppercase;
}

input[type=submit], input[type=button]  {
    text-transform: none;
}

.crsr-dec2,
.crsr-dec3,
.crsr-money
{
    text-align: right;
    text-transform: none;
}


div.paceDiv {
   position: absolute;
   width: 100%;
   height: 100%;
   
   display: none;
}

.email {
	text-transform: lowercase;
}