/*
  Este arquivo deve ficar no static (não ser adicionado pelo webpack) para poder ser chamado pelos apps.
*/

html {
  font-size: 0.9rem !important;
}

.input-group-text {
  font-size: 0.85rem !important;
}

input, select {
  text-transform: uppercase;
}

input[type=submit], input[type=button], input[type=password] {
  text-transform: none;
}

.int,
.integer,
.decimal2,
.decimal3,
.dinheiro,
.money,
.crsr-dec0,
.crsr-dec1,
.crsr-dec2,
.crsr-dec3,
.crsr-dec4,
.crsr-dec5,
.crsr-money {
  text-align: right;
  text-transform: none;
}

.lowercase,
.email {
  text-transform: lowercase;
}

.notuppercase {
  text-transform: none;
}

.c-main {
  padding-top: 0;
}

.main .container-fluid {
  padding: 0;
}

.sidebar-brand {
  background-color: white !important;
}



.menuLateral-ent-neto {
  background-color: #566c90 !important;
}

.menuLateral-dropdown-filho {
  background-color: #495b7a !important;
}

/*.menuLateral-dropdown-filho.show {*/
/*  background-color: #7c8fb0 !important;*/
/*}*/

.menuLateral-ent-filho {
  background-color: #495b7a !important;
}

/*.nav-group.menuLateral-dropdown-pai.show {*/
/*  background-color: #4e6283 !important;*/
/*}*/

.menuLateral-dropdown-pai {
  background-color: #3c4b64 !important;
}

.menuLateral {
  background-color: #3c4b64 !important;
}









.blink {
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.1;
  }
}


.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding .15s);
}


/*#toast-container {*/
/*  background-color: darkred !important;*/
/*}*/

/*#toast-container > div {*/
/*  opacity: 1 !important; */
/*}*/

.p-inputtext {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-inputtext:enabled:focus {
  outline: 0 none !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
}


.p-inputwrapper > input {
  box-shadow: none !important;
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
  border-bottom-style: hidden !important;
}