.p-component {
  font-size: 0.85rem !important;
}

.p-component > .p-inputtext {
  border-width: 0;
}

.p-inputtext {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.p-inputnumber, .text-right, .p-inputnumber-input {
  padding-left: 0 !important;
  text-align: right;
}

.p-autocomplete-input.p-inputtext.p-component.form-control {
  border: none;
  height: auto;
}

.p-progressbar {
  height: 0.2em;
}

.p-progressbar-indeterminate {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}


.p-inputtext {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-inputtext:enabled:focus {
  outline: 0 none !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
}


.p-inputwrapper > input {
  box-shadow: none !important;
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
  border-bottom-style: hidden !important;
}

.p-column-resizer {
  width: 0.2rem !important;
  border: 1px dashed lightgrey !important;
}

.p-multiselect .p-multiselect-label {
  padding: 0 !important;
  margin: 0 !important;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
  padding: 0 0.5rem 0 0.5rem !important;
}