<footer class="app-footer blur-on-pace">
<span class="text-left">
<a href="https://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
</span>
<span class="pull-right">
Powered by <a href="https://coreui.io">CoreUI</a>
</span>
</footer>