<header>


    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #0f2944">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('build/static/images/CROSIER_fundoazul_400px.jpg') }}"
                 style="width: 200px" alt="CROSIER"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user"></i> {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Meus dados</a>
                        <a class="dropdown-item" href="#">Opção 2</a>
                        <a class="dropdown-item" href="#">Opção 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{{ url('logout') }}" class="btn btn-outline-light active" role="button"
                       aria-pressed="true"><i class="fas fa-sign-out-alt"></i> Sair</a>
                </li>
            </ul>
        </div>
    </nav>

</header>