{% extends 'index.html.twig' %}




{% block page_content %}


    <button type="button" class="btn btn-secondary" id="btn">
        <i class="fas fa-search" aria-hidden="true"></i> Pesquisar
    </button>

<form>
    <button type="submit" class="btn btn-secondary" id="btnSubmit">
        <i class="fas fa-search" aria-hidden="true"></i> submit
    </button>
</form>

{% endblock %}


{% block down_scripts %}

    <script>

    $(document).ready(function() {

        $('#btn').on('click2', function(e) {
            console.dir(e);

            $.ajax({
                url: Routing.generate('bse_pessoa_findByNome') + '/40392849032',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    $('input[id=cliente_nome]').val(data.nome);
                    $('input[id=cliente_pessoa_id]').val(data.id);
                    $('input[id=cliente_razao_social]').val(data.nome);
                    $('input[id=cliente_nome_fantasia]').val(data.nomeFantasia);

                    $('input[id=cliente_fone1]').val(data.fone1);
                    $('input[id=cliente_email]').val(data.email);

                    if (data.id) {
                        $('.DADOSPESSOA').prop('disabled', true);
                    }
                }
            });

        });


        $('#btn').on('click', function(e) {
            Pace.restart();
        });
    });

</script>

{% endblock %}
